* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 20px;
    color: #333;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

html.w-mod-touch * {
    background-attachment: scroll !important;
}

.w-block {
    display: block;
}

.w-inline-block {
    max-width: 100%;
    display: inline-block;
}

.container {
    display: block;
    max-width: 900px;
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    border: 1px dashed #c3c3c3;
    border-radius: 10px;
}

.header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    border-bottom: 1px dashed #c3c3c3;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #fff;
}

.content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 300px;
    padding: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
}

.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #28c3ab;
    color: #fff;
}

.text-block {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    color: #424153;
    font-size: 30px;
    font-weight: 700;
}

.text-block-2 {
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
}

.logo {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #000000;
}

img {
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.btn {
    display: inline-block;
    width: auto;
    height: auto;
    padding: 10px 30px;
    float: left;
    border-radius: 100px;
    background-color: #28c3ab;
    color: #fff;
    text-decoration: none;
}

.btn.next {
    float: right;
}

.btn.next:hover {
    background-color: #16ad96;
}

.btn.next.intro {
    display: block;
    max-width: 300px;
    margin-right: auto;
    margin-bottom: 20px;
    margin-left: auto;
    float: none;
    font-size: 17px;
}

.btn.grizti {
    background-color: #d3d3d3;
}

.btn.grizti:hover {
    background-color: #b3b3b3;
}

.column {
    padding-left: 0;
}

.column-2 {
    padding-right: 0;
    padding-left: 0;
}

.div-block {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}

.body {
    padding-right: 20px;
    padding-left: 20px;
}

.field-label {
    text-align: left;
}

.text-block-3 {
    margin-bottom: 50px;
    font-family: 'Trebuchet MS', 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Tahoma, sans-serif;
    font-size: 30px;
    line-height: 40px;
}

.marked {
    color: #28c3ab;
}

.w-form {
    margin: 0 0 15px;
}

.w-form-done {
    display: none;
    padding: 20px;
    text-align: center;
    background-color: #dddddd;
}

.w-form-fail {
    display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #ffdede;
}

.w-input {
    display: block;
    width: 100%;
    height: 38px;
    padding: 8px 12px;
    margin-bottom: 10px;
    font-size: 14px;
    line-height: 1.428571429;
    color: #333333;
    vertical-align: middle;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}

.w-input:-moz-placeholder,
.w-select:-moz-placeholder {
    color: #999;
}

.w-input::-moz-placeholder,
.w-select::-moz-placeholder {
    color: #999;
    opacity: 1;
}

.w-input:-ms-input-placeholder,
.w-select:-ms-input-placeholder {
    color: #999;
}

.w-input::-webkit-input-placeholder,
.w-select::-webkit-input-placeholder {
    color: #999;
}

.w-input:focus,
.w-select:focus {
    border-color: #3898EC;
    outline: 0;
}

.w-input[disabled],
.w-select[disabled],
.w-input[readonly],
.w-select[readonly],
fieldset[disabled] .w-input,
fieldset[disabled] .w-select {
    cursor: not-allowed;
    background-color: #eeeeee;
}

textarea.w-input,
textarea.w-select {
    height: auto;
}